#wrap {
    width: 100%;
    box-sizing: border-box;
    img{
        vertical-align: bottom;
    }
    .main{
        width: 100%;
    }
    .under {
        text-align: center;
        background-color: #e87893;
        font-size: 12px;
        padding: 5px;
        color: #fff;
    }
}
